<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CLOCK</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" >
</head>

<body>
    <div class="area">
    <nav class="container">
        <span class="material-symbols-outlined">
            schedule
        </span>
        <h1 class="inp"><a href="/" >Clock </a></h1>
        <h2 class="inp"><a href="/timer">Timer</a></h2>
        <h2 class="inp"><a href="/today">Date</a></h2>
    </nav>
        
        <!--<div class="area" >
            <ul class="circles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
            </ul>
    </div >-->
   