<%- include('./partials/header.ejs') %>
<div class="content">
    <div class="time">
        <h2 id="hour"></h2>
        <h2>:</h2>
        <h2 id="minute"></h2>
        <h2>:</h2>
        <h2 id="second"></h2>
    </div>
    <div class="name">
        <h3>Hrs</h3>
        <h3>Min</h3>
        <h3>Sec</h3>
    </div>
</div>
<script src="/javascript/client.js"></script>
<%- include('./partials/footer.ejs') %>
