<%- include('./partials/header.ejs') %>
<div class="content">
    <div class="timer">
        <h1 id="timer"></h1>
    </div>
</div>
<script src="/javascript/client2.js"></script>
<%- include('./partials/footer.ejs') %>
