<%- include('./partials/header.ejs') %>
<div class="content">
    <div  class="date">
        <h2 id="date"></h2>
    </div>
</div>
<script src="/javascript/client3.js"></script>
<%- include('./partials/footer.ejs') %>
